<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head"); %>
  <body>
    <%- include("partials/navbar"); %>
    <div class="container mt-4">
      <% card.forEach(i => { %>
      <div class="row justify-content-center mb-2">
        <div class="card">
          <div class="card-body" style="margin-bottom: -40px">
            <h5>Href</h5>
            <p><%= i.href %></p>
          </div>
          <div class="card-body">
            <h5 class="card-text">Content</h5>
            <p class="card-text"><%= i.content %></p>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <button type="button" class="btn btn-outline-info" style="margin-right: 5px">Edit</button>
        <button data-id="<%= i.id %>" class="btn btn-outline-danger btnDel">Delete</button>
      </div>
      <% }) %>
      <div class="row mb-3">
        <button type="button" class="btn btn-outline-primary">Create</button>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        $(".btnDel").each((index, element) => {
          element.addEventListener("click", (e) => {
            e.preventDefault();
            const id = element.dataset.id;
            console.log(id);
            $.ajax({
              url: "/cards/" + id,
              type: "DELETE",
              success: (res) => {
                window.location.href = res;
              },
            });
          });
        });
      });
    </script>
  </body>
</html>
