<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head"); %>
  <body>
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-4 border m-4">
          <% if (messages.error) { %>
          <h5><%= messages.error %></h5>
          <% } %>
          <form method="POST" class="p-4" action="/login">
            <div class="mb-2">
              <label for="username" class="form-label">Username</label>
              <br />
              <input type="text" class="form-control" name="username" placeholder="Insert your username" />
              <br />
            </div>
            <div class="mb-2">
              <label for="password" class="form-label">Password</label>
              <br />
              <input type="password" class="form-control" name="password" placeholder="Insert your password" />
              <br />
            </div>
            <button type="submit" class="btn btn-outline-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
